{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <img src="{{movie.img.url}}" width="300" height="300">

        </div>
<div class="co-md-6">
    <h2 style="font-family:impact;color:black;">{{movie.name}}</h2>
    <h4>{{movie.desc}}</h4>
    <h5>{{movie.year}}</h5>
    <a class="btn btn-warning" href="{% url 'movieapp:update' movie.id %}">update</a>
    <a class="btn btn-danger" href="{% url 'movieapp:delete' movie.id %}">delete</a>
</div>
   </div>
</div>

{% endblock %}